name: Build D3 Spirit
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: d3-spirit-files
          path: .
